@use "../util" as *;

:root {
  --heading: 24px;
  --subheading: 18px;

  --icon: 24px;
  --flex-direction: column;
  --img-width: 100%;
  --gray: #808080;
}

.about {
  position: relative;
  overflow-x: hidden;

  #about {
    padding-top: 5rem;
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    margin-inline: auto;
    max-width: 400px;
  }

  &-content {
    text-align: center;

    > :nth-child(1) {
      display: none;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 16px;
    }

    p {
      margin: 1rem 0 2rem 0;

      color: rgb(108, 108, 108);
    }
  }

  .socials {
    font-size: 12px;
    font-weight: 700;
  }

  ul {
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
    gap: 0.5rem;

    li {
      width: 32px;
    }
  }

  .blob1 {
    right: -2rem;
    width: 70px;
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 640px) {
  .about {
    /* Step 0: 12px → 14px */
    --about-0: clamp(0.75rem, 0.5417rem + 0.5208vw, 0.875rem);
    /* Step 0: 18px → 20px */
    --step-0: clamp(1.125rem, 0.5rem + 1.5625vw, 1.25rem);
    /* Step 0: 13px → 20px */
    --h3-0: clamp(0.8125rem, 0.0833rem + 1.8229vw, 1.25rem);

    padding-bottom: 6rem;

    &-container {
      flex-direction: row;
      max-width: initial;
      width: initial;
      margin-inline: initial;
      align-items: center;
      gap: initial;
      width: 95%;
      margin-inline: auto;
      max-width: var(--big-container);
      justify-content: space-between;

      picture {
        flex: 0 3 560px;
      }

      .about-content {
        flex: 0 2 420px;

        > :nth-child(1) {
          display: none;
          font-size: var(--about-0);
        }
      }
    }

    h2 {
      font-size: var(--step-0);
    }

    h3 {
      font-size: var(--h3-0);
    }

    &-content {
      text-align: initial;
      display: flex;
      gap: 0.8rem;

      > :nth-child(1) {
        margin-top: 0.3rem;
        font-size: 10px;
        font-weight: 700;
        display: block;
        writing-mode: vertical-rl; /* Rotates text vertically */
        text-orientation: upright;
      }

      p {
        font-size: 12px;
        width: 90%;
        margin-bottom: 1.4rem;
      }

      ul {
        justify-content: start;
      }
    }
  }
}

@media (min-width: 768px) {
  .about {
    /* Step 0: 12px → 14px */
    --p-0: clamp(0.75rem, 0.5625rem + 0.3906vw, 0.875rem);
    /* Step 0: 20px → 28px */
    --step-0: clamp(1.25rem, 0.5rem + 1.5625vw, 1.75rem);

    h2 {
      font-size: var(--step-0);
    }

    p {
      font-size: var(--p-0);
    }

    .blob1 {
      width: 90px;
    }
  }
}
