@use "../util" as *;

border {
  border: 2px solid red;

  > * {
    border: 2px solid green;
  }
}

.footer {
  a {
    text-decoration: none;
  }
}

.footer {
  font-size: 14px;
  background-color: rgb(201, 201, 201);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 3.5rem 0;

  &-container {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .content {
      text-align: center;
      .logo {
        width: 150px;
        margin-inline: auto;
      }

      ul {
        display: flex;
      }
    }
  }

  &-nav {
    gap: 1.5rem;
    justify-content: center;
    margin: 1rem 0 1.5rem 0;
    font-weight: 600;
    font-size: 13px;
  }

  .text {
    max-width: 600px;
    margin-inline: auto;
    color: var(--clr-input);
    font-size: 12px;
  }

  &-social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;

    img {
      width: 24px;
    }
  }

  &-copy {
    text-align: center;
    max-width: 350px;
    margin-inline: auto;
    color: var(--clr-input);
  }
}
