@use "../util" as *;

.border {
  border: 2px solid red;

  > * {
    border: 2px solid green;
  }
}

body {
  font-family: mont;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--bg-dark);
  color: var(--text);
}

// =====CURRENT====== //
body:has(.menu-wrapper.active) {
  overflow: hidden;
}

.hero {
  --percent: 90%;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--percent);
    max-width: 1200px;
    margin-inline: auto;
    margin: 2rem auto 2rem auto;

    .logo {
      width: 120px;
    }

    button {
      all: initial;
      z-index: 1000000;

      font-size: 20px;
      color: var(--text);
    }
  }

  .menu-wrapper {
    opacity: 0;
    > * {
      width: 0;
      overflow: hidden;
      opacity: 0;
      transition: width 1s ease, opacity 0.6s;
      height: 0;
    }
  }

  .menu-wrapper.active {
    opacity: 1;
    display: block;
    position: fixed;
    inset: 0;
    z-index: 100;
    backdrop-filter: blur(4px);

    > * {
      background-color: var(--bg);
      width: min(70%, 280px);
      margin-left: auto;
      height: 100%;
      padding: 2rem 0.7rem;
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      overflow: initial;
      opacity: 1;
    }

    li {
      padding: 0.4rem 0.7rem;
      border-radius: 4px;
    }

    > * li.active {
      background-color: var(--bg-light);
      box-shadow: var(--shadow-s);
      background-color: var(--clr-primary);
    }
  }

  .showcase-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 400px;

    width: var(--percent);
    margin-inline: auto;

    .content {
      order: 2;
      line-height: 1;
      text-align: center;

      h4 {
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 0.5rem;
      }

      span {
        font-weight: 700;
      }

      h1 {
        font-size: 28px;
        font-weight: 800;
        margin-bottom: 1rem;
      }

      p {
        font-size: 14px;
        margin-bottom: 2rem;
        width: 80%;
        margin-inline: auto;
        line-height: 1.4;
      }

      button {
        height: 2.3rem;
        width: min(100%, 360px);
        border: 1px solid var(--clr-secondary);
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 640px) {
  .hero {
    .nav-wrapper {
      position: initial;
      display: flex;
      align-items: center;
      //padding: 0 2rem;
      width: min(90%, 1100px);
      margin-inline: auto;

      ul {
        display: flex;
        gap: 1.5rem;
      }
    }

    --percent: 93%;
    /* Step 0: 26px → 50px */
    --step-0: clamp(1.625rem, -0.875rem + 6.25vw, 3.125rem);
    .showcase-container {
      max-width: initial;
      flex-direction: row-reverse;
      gap: 0;
      align-items: center;
      justify-content: center;
      max-width: var(--big-container);

      .content {
        text-align: initial;
        position: relative;
        z-index: 1;
        flex: 0 1 560px;

        h1 {
          white-space: nowrap;
          font-size: var(--step-0);
          //font-size: 32px;
        }
        p {
          margin-inline: initial;
        }

        button {
          width: 180px;
          margin-top: 2rem;
        }
      }

      picture {
        flex: 0 2 590px;
        margin-left: -13rem;
      }
    }

    .nav {
      button {
        display: none;
      }
    }

    .menu-wrapper,
    .menu-wrapper.active {
      position: initial;
      margin: 0;
      padding: 0;
      opacity: 1;

      > * {
        opacity: 1;
        margin: initial;
        background-color: initial;
        align-items: center;
        flex-direction: row;
        padding: 0;
        height: auto;
        width: auto;
        z-index: 100;
        padding: 0;
        gap: 0.8rem !important;
      }

      li {
        padding: 0.3rem 0.7rem;
        border-radius: 4px;
        transition: background-color 0.5s, box-shadow 0.5s;
      }

      li.active {
        background-color: var(--clr-primary);
        box-shadow: var(--shadow-l);
      }
    }
  }
}

p {
  font-weight: 500;
}

.content {
  p {
    color: var(--text-muted);
  }
}
